/*
colors: twitter blue - #1DA1F2
twitter black - #14171A
twitter dark gray - #657786
twitter light gray - #AAB8C2
twitter extra light gray - #E1E8ED
twitter 2x light gray - #F5F8FA
 */

 html, body {
	background-color: #14171A;
	color: #F5F8FA;
	font-family: "Segoe UI", serif;
	height: 100%;
	margin: 0;
	padding: 0;
}


code {
	display: block;
	white-space: pre-wrap;
}


a, a:hover {
	color: #EA2027;
}

a:active {
	color: #ED4C67;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

/* custom rules */

footer {
    text-align: center;
    font-size: 12px;
}

header {
    height: 25%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.block {
	display: inline-block;
	font-size: 14px;
	margin: 0 200px 0 150px;
}

/* 
.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	padding: 10px;
  }
  .grid-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	padding: 10px;
  } */


  * {
	  box-sizing:border-box
	}

